.forgotPasswordMain {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.forgotPasswordContainer {
  background-color: var(--primary-color);
  border-radius: 0 20px 0 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 10px 50px 30px;
  width: 400px;
}
.goBackButtonContainer {
  display: flex;
  justify-content: space-between;
}
.goBackButton {
  align-items: center;
  background-color: initial;
  border: 1px solid var(--logo-purple);
  border-radius: 50%;
  color: var(--logo-purple);
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: -37px;
  width: 30px;
}
.goBackButton:hover {
  transform: scale(105%);
}
.image {
  height: 100%;
  width: 100%;
}
.userDetailsField {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.userDetailsFieldInput {
  background-color: var(--auth-input);
  border: 1px solid var(--auth-input-border);
  border-radius: 5px;
  color: var(--logo-purple);
  height: 30px;
  margin: 0 0 10px;
  padding: 0 10px;
}
.forgotPasswordField {
  align-items: center;
  display: flex;
  width: 100%;
}
.forgotPasswordButton {
  background-color: var(--logo-purple);
  border: none;
  border-radius: 5px;
  color: var(--auth-submit-btn-color);
  height: 30px;
  width: 100%;
}
.forgotPasswordButton:disabled {
  opacity: 0.5;
}
.forgotPasswordButton:hover {
  transform: scale(101%);
  filter: brightness(90%);
}
.error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 10px;
}
