.resetCodeMain {
  align-items: center;
  background: var(--auth-bg-color);
  background-blend-mode: darken;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.resetCondeContainer {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0 20px 0 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 40px 50px 30px;
}
.goBackField {
  width: 100%;
}
.goBackButton {
  align-items: center;
  background-color: initial;
  border: 1px solid var(--logo-purple);
  border-radius: 50%;
  color: var(--logo-purple);
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}
.resetCodeCircle {
  align-items: center;
  background-color: var(--auth-sendcode-circle);
  border-radius: 40px;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}
.resetCodeTitle {
  color: var(--auth-sendcode-text);
  font-weight: 600;
}
.AuthCodeInputContainer {
  margin-bottom: 10px;
  margin-top: 10px;
}
.AuthCodeInput {
  background-color: var(--auth-input);
  border: 1px solid var(--auth-input-border);
  border-radius: 5px;
  color: var(--logo-purple);
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 35px;
}
.resetCode_explanation {
  color: var(--auth-sendcode-text);
  font-size: 14px;
  padding-bottom: 20px px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.userDetailsField {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 200px; /* Set a maximum height for the container */
  overflow: hidden;
}
.signUpPw {
  position: relative;
  max-width: 395px;
}
.signUpInput {
  border-radius: 5px;
  height: 30px;
  margin: 0 0 10px;
  padding: 0 10px;
  width: 100%;
}
.eyeIcon {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  top: 17px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.error {
  color: var(--auth-error-primary);
  font-size: 11px;
  margin-top: -8px;
  overflow: hidden;
}
.signUpPw2 {
  position: relative;
}
.eyeIcon2 {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  top: 17px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.buttonContainer {
  align-items: center;
  display: flex;
  width: 100%;
}
.confirmButton {
  background-color: var(--logo-purple);
  border: none;
  border-radius: 5px;
  color: var(--white);
  height: 35px;
  margin-bottom: 30px;
  padding: 5px;
  width: 100%;
}
.confirmButton:disabled {
  opacity: 0.5;
}
.confirmButton:hover {
  transform: scale(101%);
  filter: brightness(90%);
}
